<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

	<body>
		<h1>Olá! Thymeleaf configurado!</h1>
	</body>
	<form method="POST">
		<span th:text="${menssage}"></span>
		<br>
		
		<label for="sku">SKU:</label>
		<input id="sku" type="text" name="sku">
		
		<br />
		
		<label for="name">Nome:</label>
		<input id="name" type="text" name="name">
		
		<br />
		
		<label for="description">Descrição:</label>
		<textarea rows="3" cols="30" id="description" name="description"></textarea>
		
		<br />
		
		<input type="submit" value="Salvar">
	
	</form>
	
	

</html>